
h3{
    font-size: 20px;
    color: aqua;
    text-decoration: overline;
    text-align: center;
   
}
.blog{
    margin: 10px;
    border: 10px solid tomato;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;

}